h1 {
	font-family:'Publico-Black';
	font-size:42px;
}

header {
	width:100%;
	background:#111;
	height:55px;
	padding:2px 0px;
}
header a img {
	height:51px;
}
footer {
	width:100%;
	background:#111;
	padding:10px 0px;
}

.container {
	margin:auto;
	width:100%;
	float: right;
	background-color: white;
}
.nav_mobile{
	display: none;
}

.prison_nav {
	background-color:#111;
	width:15%;
	position: absolute;
	height: 100%;
	float:left;
}
li {
	display: inline;
}
.tabs.tab-title a {
	height: 40px;
	text-align: center;
}
.content {
	background-color: white;
	margin-top: 10px;
}


@media only screen and (max-width: 40em) {
	.nav_mobile{
		display:block;
	}
	.prison_nav{
		display:none;
	}
	.content{
		width:100%;
	}
}